server:
  port: 8086

spring:
  application:
    name: email-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
  config:
    import: "optional:configserver:${CONFIG_SERVER_HOST}"
  cloud:
    function:
      definition: userEvents;topicEvents;replyEvents
    stream:
      kafka:
        binder:
          brokers: ${kafka.bootstrap-servers}
      bindings:
        userEvents-in-0:
          destination: user-events
          content-type: application/json
          group: email-service-user-group
        topicEvents-in-0:
          destination: topic-events
          content-type: application/json
          group: email-service-topic-group
        replyEvents-in-0:
          destination: reply-events
          content-type: application/json
          group: email-service-reply-group

  mail:
    host: ${EMAIL_HOST}
    port: ${EMAIL_PORT}
    username: ${EMAIL_USER}
    password: ${EMAIL_PASS}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true

email:
  enabled: ${EMAIL_ENABLED:true}

eureka:
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${random.value}"
  client:
    service-url:
      defaultZone: ${eureka.url}

app:
  frontend:
    url: ${FRONTEND_URL}
