services:

  mysql:
    image: mysql:latest
    container_name: mysql
    restart: on-failure # always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER_SERVICE: ${MYSQL_USER_SERVICE}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}
      MYSQL_TOPIC_SERVICE: ${MYSQL_TOPIC_SERVICE}
      MYSQL_TOPIC_PASSWORD: ${MYSQL_TOPIC_PASSWORD}
      MYSQL_REPLY_SERVICE: ${MYSQL_REPLY_SERVICE}
      MYSQL_REPLY_PASSWORD: ${MYSQL_REPLY_PASSWORD}
      MYSQL_COURSE_SERVICE: ${MYSQL_COURSE_SERVICE}
      MYSQL_COURSE_PASSWORD: ${MYSQL_COURSE_PASSWORD}
      MYSQL_NOTIFICATION_SERVICE: ${MYSQL_NOTIFICATION_SERVICE}
      MYSQL_NOTIFICATION_PASSWORD: ${MYSQL_NOTIFICATION_PASSWORD}
      MYSQL_EMAIL_SERVICE: ${MYSQL_EMAIL_SERVICE}
      MYSQL_EMAIL_PASSWORD: ${MYSQL_EMAIL_PASSWORD}
      MYSQL_AUTH_SERVER: ${MYSQL_AUTH_SERVER}
      MYSQL_AUTH_PASSWORD: ${MYSQL_AUTH_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init-mysql.sh:/docker-entrypoint-initdb.d/init-mysql.sh

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    restart: on-failure # always
    ports:
      - "9092:9092"   # acceso desde host
      - "9093:9093"   # acceso interno en Docker
    environment:
      CLUSTER_ID: 'kraft-cluster-1'
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: DOCKER:PLAINTEXT,HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_LISTENERS: DOCKER://0.0.0.0:9093,HOST://0.0.0.0:9092,CONTROLLER://0.0.0.0:9094
      KAFKA_ADVERTISED_LISTENERS: DOCKER://kafka:9093,HOST://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_INTER_BROKER_LISTENER_NAME: DOCKER
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka:9094" # "1@kafka:9093"
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1

  mongodb:
    image: mongo:latest
    restart: on-failure # always
    container_name: mongodb
    hostname: mongodb
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_ROOT_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_ROOT_PASSWORD}
      MONGO_TOPIC_READ_SERVICE: ${MONGO_TOPIC_READ_SERVICE}
      MONGO_TOPIC_READ_PASSWORD: ${MONGO_TOPIC_READ_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
      - ./docker/mongo/init-mongo.sh:/docker-entrypoint-initdb.d/init-mongo.sh

  registry-server:
    build:
      context: ./infrastructure-domain/registry-server
    image: registry-server:latest
    container_name: registry-server
    restart: on-failure # always
    ports:
      - "8761:8761"
    environment:
      SPRING_PROFILES_ACTIVE: prod

  config-server:
    build:
      context: ./infrastructure-domain/config-server
    image: config-server:latest
    container_name: config-server
    restart: on-failure # always
    ports:
      - "8888:8888"
    depends_on:
      - registry-server
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      GIT_URI: ${GIT_URI}
      GIT_USERNAME: ${GIT_USERNAME}
      GIT_TOKEN: ${GIT_TOKEN}

  auth-server:
    build:
      context: ./infrastructure-domain/auth-server
    image: auth-server:latest
    container_name: auth-server
    restart: on-failure # always
    ports:
      - "9000:9000"
    depends_on:
      - config-server
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      AUTH_CLIENT_ID: ${AUTH_CLIENT_ID}
      AUTH_CLIENT_SECRET: ${AUTH_CLIENT_SECRET}
      AUTH_REDIRECT_URI: ${AUTH_REDIRECT_URI}
      AUTH_SERVER_ISSUER_URI: http://auth-server:9000
      FRONTEND_URL: ${FRONTEND_URL}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_AUTH_SERVER: ${MYSQL_AUTH_SERVER}
      MYSQL_AUTH_PASSWORD: ${MYSQL_AUTH_PASSWORD}

  token-gateway:
    build:
      context: ./infrastructure-domain/token-gateway
    image: token-gateway:latest
    container_name: token-gateway
    restart: on-failure # always
    ports:
      - "9001:9001"
    depends_on:
      - config-server
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      AUTH_CLIENT_ID: ${AUTH_CLIENT_ID}
      AUTH_CLIENT_SECRET: ${AUTH_CLIENT_SECRET}
      FRONTEND_URL: ${FRONTEND_URL}

  api-gateway:
    build:
      context: ./infrastructure-domain/api-gateway
    image: api-gateway:latest
    container_name: api-gateway
    restart: on-failure # always
    ports:
      - "8080:8080"
    depends_on:
      - auth-server
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      AUTH_SERVER_ISSUER_URI: http://auth-server:9000
      FRONTEND_URL: ${FRONTEND_URL}

  user-service:
    build:
      context: ./business-domain/user-service
    image: user-service:latest
    container_name: user-service
    restart: on-failure # always
    ports:
      - "8081:8081"
    depends_on:
      - config-server
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      KAFKA_SERVERS: ${KAFKA_SERVERS}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_USER_SERVICE: ${MYSQL_USER_SERVICE}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}

  topic-service:
    build:
      context: ./business-domain/topic-service
    image: topic-service:latest
    container_name: topic-service
    restart: on-failure # always
    ports:
      - "8082:8082"
    depends_on:
      - config-server
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      KAFKA_SERVERS: ${KAFKA_SERVERS}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_TOPIC_SERVICE: ${MYSQL_TOPIC_SERVICE}
      MYSQL_TOPIC_PASSWORD: ${MYSQL_TOPIC_PASSWORD}

  reply-service:
    build:
      context: ./business-domain/reply-service
    image: reply-service:latest
    container_name: reply-service
    restart: on-failure # always
    ports:
      - "8083:8083"
    depends_on:
      - config-server
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      KAFKA_SERVERS: ${KAFKA_SERVERS}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_REPLY_SERVICE: ${MYSQL_REPLY_SERVICE}
      MYSQL_REPLY_PASSWORD: ${MYSQL_REPLY_PASSWORD}

  course-service:
    build:
      context: ./business-domain/course-service
    image: course-service:latest
    container_name: course-service
    restart: on-failure # always
    ports:
      - "8084:8084"
    depends_on:
      - config-server
      - mysql
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_COURSE_SERVICE: ${MYSQL_COURSE_SERVICE}
      MYSQL_COURSE_PASSWORD: ${MYSQL_COURSE_PASSWORD}

  notification-service:
    build:
      context: ./business-domain/notification-service
    image: notification-service:latest
    container_name: notification-service
    restart: on-failure # always
    ports:
      - "8085:8085"
    depends_on:
      - config-server
      - mysql
      - kafka
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      KAFKA_SERVERS: ${KAFKA_SERVERS}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_NOTIFICATION_SERVICE: ${MYSQL_NOTIFICATION_SERVICE}
      MYSQL_NOTIFICATION_PASSWORD: ${MYSQL_NOTIFICATION_PASSWORD}

  email-service:
    build:
      context: ./business-domain/email-service
    image: email-service:latest
    container_name: email-service
    restart: on-failure # always
    ports:
      - "8086:8086"
    depends_on:
      - config-server
      - mysql
      - kafka
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      KAFKA_SERVERS: ${KAFKA_SERVERS}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_EMAIL_SERVICE: ${MYSQL_EMAIL_SERVICE}
      MYSQL_EMAIL_PASSWORD: ${MYSQL_EMAIL_PASSWORD}
      EMAIL_ENABLED: ${EMAIL_ENABLED}
      EMAIL_FROM: ${EMAIL_FROM}
      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PASS: ${EMAIL_PASS}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_USER: ${EMAIL_USER}
      FRONTEND_URL: ${FRONTEND_URL}

  content-analysis-service:
    build:
      context: ./business-domain/content-analysis-service
    image: content-analysis-service:latest
    container_name: content-analysis-service
    restart: on-failure # always
    ports:
      - "8087:8087"
    depends_on:
      - config-server
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      AI_API_KEY: ${AI_API_KEY}
      AI_ENABLED: ${AI_ENABLED}

  topic-read-service:
    build:
      context: ./business-domain/topic-read-service
    image: topic-read-service:latest
    container_name: topic-read-service
    restart: on-failure # always
    ports:
      - "8088:8088"
    depends_on:
      - config-server
      - mongodb
      - kafka
      - user-service
      - topic-service
      - reply-service
      - course-service
    environment:
      SPRING_PROFILES_ACTIVE: prod
      EUREKA_URL: http://registry-server:8761/eureka
      CONFIG_SERVER_HOST: http://config-server:8888
      KAFKA_SERVERS: ${KAFKA_SERVERS}
      MONGO_HOST: ${MONGO_HOST}
      MONGO_PORT: ${MONGO_PORT}
      MONGO_TOPIC_READ_SERVICE: ${MONGO_TOPIC_READ_SERVICE}
      MONGO_TOPIC_READ_PASSWORD: ${MONGO_TOPIC_READ_PASSWORD}

volumes:
  mysql_data:
  mongo_data:

