input:focus {
  outline: none !important;
  border-color: #2dd4bf !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #2dd4bf inset;
}
