<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{TITLE}</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; color: #e0e0e0; background-color: #121212; display: flex; justify-content: center; align-items: flex-start; padding-top: 50px; padding-bottom: 50px;">
<div style="max-width: 600px; margin: 0 auto; padding: 20px; background-color: #1f1f1f; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);">
    <div style="text-align: center; color: #03dac5;">
        <img src="https://forohub.william-medina.com/icons/forohub-email.png" alt="Logo ForoHub" width="100" style="max-width: 100px; height: auto; display: block; margin: 0 auto; margin-bottom: 10px;">
        <h2>{TITLE}</h2>
    </div>
    <p>{MESSAGE}</p>


    <div style="text-align: center; margin: 20px 0;">
        {BUTTON_SECTION}
    </div>


    <div style="text-align: center; font-size: 12px; color: #b0b0b0; margin-top: 20px;">
        <p>{FOOTER}</p>
    </div>
</div>
</body>
</html>
