server:
  port: 8084

spring:
  application:
    name: course-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
  config:
    import: "optional:configserver:${CONFIG_SERVER_HOST}"
  kafka:
    listener:
      ack-mode: manual_immediate
    consumer:
      bootstrap-servers: ${kafka.bootstrap-servers}
      group-id: ${kafka.group-id}
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

eureka:
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${random.value}"
  client:
    service-url:
      defaultZone: ${eureka.url}