server:
  port: 8087

spring:
  application:
    name: content-analysis-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  config:
    import: "optional:configserver:${CONFIG_SERVER_HOST}"
  ai:
    openai:
      api-key: ${AI_API_KEY}
      chat:
        options:
          model: ${openai.model}

ai:
  enabled: ${AI_ENABLED:true}

eureka:
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${random.value}"
  client:
    service-url:
      defaultZone: ${eureka.url}