server:
  port: 8082

spring:
  application:
    name: topic-service
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:default}
  datasource:
    url: ${db.url}
    username: ${db.username}
    password: ${db.password}
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
  config:
    import: "optional:configserver:${CONFIG_SERVER_HOST}"
  cloud:
    stream:
      bindings:
        topic-events-out-0:
          destination: topic-events
          content-type: application/json
        topic-follow-events-out-0:
          destination: topic-follow-events
          content-type: application/json
      kafka:
        binder:
          brokers: ${kafka.bootstrap-servers}

eureka:
  instance:
    prefer-ip-address: true
    instance-id: "${spring.application.name}:${random.value}"
  client:
    service-url:
      defaultZone: ${eureka.url}